<div>
    <table class="table table-light">
        <thead>
            <tr>
                <td class="col">Id</td>
                <td class="col">EmployeeName</td>
                <td class="col">EmployeeMobile</td>
                <td class="col">EmployeeAddress</td>
                <td class="col">Edit</td>
                <td class="col">Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeListService.emp;">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.address}}</td>
                <td><span class="text-primary clickable " (click)="editEmp(emp)">Edit</span></td>
                <td><span class="text-danger clickable  " (click)="deleteEmp(emp)">Delete</span></td>

            </tr>
        </tbody>
    </table>
</div>