<h3 style="text-align: center;" >Angular Project</h3>
<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item>

        <mat-icon>account_circle</mat-icon>

        <span>Users</span>

      </a>

      <a mat-list-item>

        <mat-icon>person</mat-icon>

        <span>Registration</span>

      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.open()">

      <mat-icon>menu</mat-icon>

    </button>
    <a mat-button>
      <mat-icon>house</mat-icon>
      Home
    </a>
    <a mat-button routerLink="aboutus" routerLinkActive="active">Aboutus</a>

    <a mat-button routerLink="registration" routerLinkActive="active">Registration</a>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
  </mat-toolbar>
  <div>

  </div>
  <router-outlet></router-outlet>

</mat-sidenav-container>