<h3 style="font-family: 'Times New Roman', Times, serif;">Form 1</h3>
<!-- <form [formGroup]="studentform" (ngSubmit)="onSubmit()"></form> -->
<form  action = "">
  <label for="email">Email:</label>
  <input type="text" name="email"  [(ngModel)]="email">
  <br>
  <label for="subscription">Subscription:</label>
  <select name="Subscription" id="" [(ngModel)]="subscription">    
    <option value="Basic">Basic</option>
    <option value="Advance">Advance</option>
    <option value="Pro">Pro</option>
  </select> <br>
    <label for="password">Password:</label>
    <input type="password"  name="Password" 
    
    
    [(ngModel)]="password"><br>
    <button class="btn btn-dark" (click)="store()">Submit</button>
</form>
<table style="border: 1px solid gray;">
<tbody>
  <tr *ngFor="let i of emparr" >
    <td>{{i.mail}}</td>&nbsp;
    <td>{{i.subscription}}</td>&nbsp;
    <td>{{i.password}}</td>
  </tr>
</tbody>
</table>
<br>
<br>
<h3 style="font-family: 'Times New Roman', Times, serif;">Form 2</h3>
<br>
<div>
  <form action="">
    <label for="mail">Email:</label>
    <input type="email" name="mail" [(ngModel)]="mail2"><br>
    <label for="project status:">Project status:</label>
    <select name="Project status" id="" [(ngModel)]="projectstatus">    
      <option value="Stable">Stable</option>
      <option value="critical">critical</option>
      <option value="Finished">Finished</option>
  </select> <br>
  <label for="projectname">Project Name:</label>
    <input type="text" name="Project Name" [(ngModel)]="projectname"><br>
    <button class="btn btn-dark" (click)="store2()">Submit</button>
</form>
</div>