<h3 style="font-family: 'Times New Roman', Times, serif; background-color:aquamarine; text-align: center;" >User Registration Form</h3>
<form  [formGroup]="registeruser" (ngSubmit)="onsubmit()">
<div>
  <label for="email">Email:</label>
  <input type="text" name="email" formControlName="email" [pattern]="emailpattern" required>
  <div *ngIf="registeruser.controls['email'].touched && registeruser.controls['email'].invalid">
    <span *ngIf="registeruser.controls['email'].hasError('required')">email is required</span>
    <span *ngIf="registeruser.controls['email'].hasError('pattern')">inavlid email</span>
</div>
  <br>
  <br>

  <label for="subscription"><b>Choose a Subcription:</b></label>
  <select formControlName="subscription">    
    <option value="Basic">Basic</option>
    <option value="Advance">Advance</option>
    <option value="Pro">Pro</option>
  </select> 
  <br>
  <br>

    <label for="password">Password:</label>
    <input type="password" placeholder="Password" formControlName="password" required>
    <div *ngIf="registeruser.controls['password'].touched && registeruser.controls['password'].invalid">
      <span *ngIf="registeruser.controls['password'].hasError('required')">Password is required</span>
   </div>
  <br>
  <br>
  <div>
    <input type="submit" value="submit">
    <br>
    <br>
  </div>
   
</div>
</form>
<table style="border: 1px solid gray;">
<tbody>
  <tr>
    <th><b>Email</b></th>&nbsp;
    <th><b>Subcriptions</b></th>&nbsp;
    <th><b>Password</b></th>
  </tr>
  <tr *ngFor="let i of emparr" >
    <td>{{i.mail}}</td>&nbsp;
    <td>{{i.subscription}}</td>&nbsp;
    <td>{{i.password}}</td>
  </tr>
</tbody>
</table>
<br>
<br>
<!---------------------------------------- new form ------------------------------------------>

<h3 style="font-family: 'Times New Roman', Times, serif; background-color: aqua; text-align: center;">Project Detail Form</h3>

<br>
<div>
  <form form [formGroup]="Projectform" (ngSubmit)="onsubmit()">
    <label for="mail">Email:</label>
    <input type="email" name="mail" formControlName="mail" required>
    <div *ngIf="Projectform.controls['mail'].touched && Projectform.controls['mail'].invalid">
      <span *ngIf="Projectform.controls['mail'].hasError('required')">email is required</span>
      <span *ngIf="Projectform.controls['mail'].hasError('pattern')">inavlid email</span>
  </div>
  <br>
  <br>
  
    <label for="projectStatus"><b>Project Status:</b></label>
    <select formControlName="projectStatus">
      <option value="Stable" >Stable</option>
      <option value="Critical">Critical</option>
      <option value="Finished">Finished</option>
      <label for="projectName"><b>Project Name: </b></label>
    </select>
    <br>
    <br>

    <label for="projectName"><b>Project Name: </b></label>
    <input type="text" placeholder="text" formControlName="projectname" required>
      <div *ngIf="Projectform.controls['projectname'].touched && Projectform.controls['projectname'].invalid">
          <span *ngIf="Projectform.controls['projectname'].hasError('required')">email is required</span>
          <span *ngIf="Projectform.controls['projectname'].hasError('pattern')">inavlid email</span>
          <span *ngIf="isTest">Not test name</span>
      </div>
      <br>
      
    <div *ngIf="isTest">Not test name</div>
    <br>
    <div *ngIf="!isDisable">Enter All values</div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>
</div>